<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div>
      <label for="id_username">{{ form.username.label }}</label>
      {{ form.username }}
    </div>
    <div>
      <label for="id_password">{{ form.password.label }}</label>
      {{ form.password }}
    </div>

    <div>
      <input type="submit" value="Login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>

  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

</body>
</html>
